.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.column{
  float: left;
  width: 33.33%;
  height: 100vh;
}

.left{
  background-color: lightblue;
}

.center{
  background-color: rgb(118, 154, 165);
}

.right{
  background-color: rgb(105, 210, 241);
}

.point, .plus{
  position: absolute;
  width: 150 px ;
  height: 150 px;
  background-color: darkorange;
  border-radius: 50%;
}



